<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <span class="fs-4">Portfolio of Duddu Hriday</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="/projects" class="nav-link">My Projects</a></li>
      <li class="nav-item"><a href="/resume" class="nav-link">Resume</a></li>
      <li class="nav-item"><a href="mailto:student.dudduhriday@gmail.com?subject=Would%20Like%20to%20Contact%20You%20after%20seeing%20your%20Portfolio&body=Name%3A%20%3CEnter%20Your%20Name%3E%0D%0AInstitute%2FCompany%3A%20%3CEnter%20the%20name%20of%20the%20enterprise%3E%0D%0APurpose%3A%20%3CEnter%20the%20purpose%3E%0D%0AWould%20like%20to%20contact%20further%3A%20%3CYes%2FNo%3E" class="nav-link">Contact Me</a></li>
    </ul>
  </header>
</div>